<template>
  <div class="hello">
    <h1 class="title">Vuengo</h1>
    <hr>

    <form v-on:submit.prevent="addTask">
      <!-- Form for adding tasks -->
      <label class="label">Description</label>
      <div class="control">
        <textarea v-model="description"></textarea>
      </div>
      <label class="label">Status</label>
      <div class="select">
        <select v-model="status">
          <option value="0">To do</option>
          <option value="1">Done</option>
        </select>
      </div>
      <button class="button is-link">Submit</button>
    </form>

    <h2>Done Task</h2>
    <ul>
      <li  v-for="task in tasks"  v-if="task.status == 1">{{ task.description }}</li>
    </ul>

    <h2>Undone Task</h2>
    <ul>
      <li  v-for="task in tasks" v-if="task.status == 0">{{ task.description }}</li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "HelloWorld",
  props: {},
  data() {
    return {
      tasks: [],
      status: 0,
      description: '' ,

    };
  },
  mounted() {
    // This will be called when HelloWorld is loaded
    this.getTasks(); // Call our getTasks function below
  },
  methods: {
    getTasks() {
      axios({
        method: "get",
        url: "http://127.0.0.1:8000/api/tasks/",
       
        auth: {
          username: "admin",
          password: "admin1234"
        },
        
      }).then(response => {
        this.tasks = response.data;
        //console.log(this.tasks);
      });
    },
    addTask(){
      if(this.description){
         axios({
        method: "post",
        url: "http://127.0.0.1:8000/api/tasks/",
       
        auth: {
          username: "admin",
          password: "admin1234"
        },
        data:{
          status:this.status,
          description:this.description  
        }
        
      }).then(response => {
          let newTask = {
            'id': response.data.id ,
            'description': this.description,
            'status': parseInt(this.status)
          }
          this.tasks.push(newTask);
          this.status = 0 ;
          this.description  = '' 
      }).catch((error)=>{
        console.log(error)
      }) ;
      }
    }
  }
};
</script>

<style>
</style>
